body{
background:linear-gradient(135deg,#1e1e2f,#2c3e50);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:white;
min-height:100vh;
overflow:hidden;
}

.panel{
background:rgba(255,255,255,0.05);
border-radius:15px;
padding:20px;
height:100vh;
overflow:auto;
}

.quiz-card{
background:white;
color:black;
padding:30px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.quiz-heading{
font-size:26px;
font-weight:bold;
}

li{
margin:10px;
cursor:pointer;
}

.green{
color:greenyellow;
}

.number-circle{
display:flex;
flex-wrap:wrap;
gap:8px;
justify-content:center;
}

.number-circle button{
width:40px;
height:40px;
border-radius:50%;
padding:0;
}

.quiz-card ul li{
border:1px solid #ccc;
padding:10px;
border-radius:8px;
}

.quiz-card ul li:hover{
background:#0d6efd;
color:white;
}

.result-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
display:flex;
justify-content:center;
align-items:center;
backdrop-filter:blur(8px);
opacity:0;
pointer-events:none;
transition:.4s;
z-index:999;
}

.result-overlay.active{
opacity:1;
pointer-events:auto;
}

.result-box{
background:white;
color:black;
padding:40px;
border-radius:20px;
text-align:center;
transform:scale(.7);
transition:.4s;
min-width:300px;
}

.result-overlay.active .result-box{
transform:scale(1);
}

.result-box h1{
font-size:50px;
color:#0d6efd;
}

#timer{
font-size:22px;
color:#dc3545;
}

